/* Navbar Styles */

.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  background-color: #000;
  /* Black background */

  padding: 10px 20px;
}

/* Navbar Left Section */

.navbar-left {
  display: flex;

  align-items: center;
}

.navbar-left h2 {
  color: #fff;
  /* White text for Shelf Story */

  font-family: "Poppins", sans-serif;

  font-size: 25px;

  font-weight: 600;

  margin-top: 20px;
}

.navbar-left button {
  background: none;

  border: none;

  color: #fff;

  font-size: 16px;

  margin: 0 10px;

  cursor: pointer;

  display: flex;

  align-items: center;
}

/* Navbar Right Section */

.navbar-right {
  display: flex;

  align-items: center;
}

.navbar-right button {
  background: none;

  border: none;

  color: #fff;

  font-size: 16px;

  margin: 0 10px;

  cursor: pointer;

  display: flex;

  align-items: center;
}

.navbar-right button:hover {
  color: #ff6347;
  /* Catchy color on hover */
}

/* Shopping Cart Styles */

.shopping-cart-btn {
  position: relative;
}

.product-count {
  position: absolute;

  top: -10px;

  right: -10px;

  background-color: #ff6347;
  /* Catchy color for product count */

  color: #fff;

  border-radius: 50%;

  padding: 2px 10px;

  font-size: 12px;
}

/* Profile Management Dropdown */

.profile-management {
  position: relative;
}

.dropdown {
  position: absolute;

  top: 100%;

  left: 0;

  background-color: #fff;

  border: 1px solid #ccc;

  border-radius: 4px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  z-index: 1000;
}

.dropdown button {
  background: none;

  border: none;

  color: #333;

  padding: 10px 20px;

  width: 100%;

  text-align: left;

  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f0f0f0;
}
