/* Modal styling */
.stock-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.stock-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-modal-content h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.stock-modal-content strong {
  font-size: 16px;
  color: #333;
}

/* Form styling */
.stock-form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.stock-form-group label {
  font-size: 14px;
  font-weight: 1000;
  color: #555;
  display: block;
  margin-bottom: 5px;
  flex: 1;
}

.stock-form-group input {
  flex: 1;
  width: 15%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.stock-form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

/* Button styling */
.stock-modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stock-modal-actions button {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stock-modal-actions button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.stock-modal-actions button:nth-child(2) {
  background-color: #6c757d;
}

.stock-modal-actions button:nth-child(2):hover {
  background-color: #5a6268;
}
